      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" >
<div class="form-group">
<mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
<input [class.is-invalid] ="registrationForm.controls.firstName.touched &&
registrationForm.controls.firstName.invalid" 
type="text" formControlName="firstName" class="form-control" matInput>
</mat-form-field>
  <div *ngIf="registrationForm.controls.firstName.touched &&
registrationForm.controls.firstName.invalid">
<small class="smalltext" *ngIf="registrationForm.controls.firstName.errors?.['required']">username is required</small>
<small class="smalltext" *ngIf="registrationForm.controls.firstName.errors?.['minlength']">Minimum Length is atleast 3 characters</small>
</div>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input type="text"  formControlName="lastName" class="form-control" matInput>
  </mat-form-field>
</div>

<div formGroupName="address">
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input type="text"  formControlName="city" class="form-control" matInput>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>State</mat-label>
      <input type="text"  formControlName="state" class="form-control" matInput>
    </mat-form-field>
  </div>
</div>

<button [disabled]="!registrationForm.valid" mat-raised-button class="btn btn-primary" type="submit" >Submit</button>
</form>

<button mat-raised-button class="btn btn-secondary" type="submit" (click)="Loadapi()">Load Api</button>
<button mat-raised-button class="btn btn-trinary" type="clear" (click)="Clearapi()">Clear Api</button>

